*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 229, 244);
}
.main-container{
    height: 460px;
    width: 600px;
    margin-top: 40px;
    border-radius: 30px;
    background-color: rgb(220, 219, 219,0.1);
    backdrop-filter: blur(20px);
    box-shadow: 1px 1px 15px black,1px -1px 15px black,-1px -1px 15px black,-1px 1px 15px black;
}
.heading{
    width: 490px;
    text-align: center;
    font-size: 40px;
    margin: 10px auto 0;
    padding: 10px 0px;
    background-color: rgb(152, 149, 149,0.5);
    border-radius: 20px;
    text-shadow: 2px 2px 5px white;

}
.paragraph{
    margin: 15px 0px 0px 70px;
    font-size: 20px;  
    text-shadow: 2px 2px 2px white;
}
.main-container input{
    display: inline-block;
    width: 480px;
    padding: 10px;
    margin-left: 60px;
    border-radius: 10px;
    border: 1px solid black;
}  
.country-converter{
    height: 120px;
    width: 480px;
    margin: 0px 5px 0px 60px;
} 
.paragraph-container{
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.from-container{
    width: 150px;
    text-align: center;
    font-size: 30px;
    margin: 0px 28px;
    padding-top: 10px;
    text-shadow: 2px 2px 2px black;
}
.to-container{
    width: 150px;
    text-align: center;
    font-size: 30px;
    margin: 0px 28px;
    padding-top: 10px;
    text-shadow: 2px 2px 2px black;
}
.select-country-container{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
.select-country{
    border: 1px solid blue;
    width: 220px;
    height: 70px;
    margin: 0px 0px 4px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.select-country img{
    display: inline-block;
    border: 1px solid black;
    width: 80px;
    height: 50px;
    margin: 10px 10px;
}
.select-country div{
    height: 22px;
    width: 100px;
    margin: auto;
    position: relative;
}
.select-country div input{
    width: 100%;
    height: 98%;
    margin: 0;
    border-radius: 0px;
    padding: 2px 4px;
}
.select-country div div{
    position: absolute;
    top: 20px;
    right: -15px;
    width: 130px;
    height: auto;
    max-height: 98px;
    border: 1px solid purple;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.4s;
    background-color: aliceblue;
}
.disp-none{
    display: none;
}
.select-country div div p{
    background-color: white;
    padding: 2px 3px;
    border-bottom: 1px solid grey;
    text-wrap: nowrap;
    cursor: pointer;
}
.select-country div div p:hover{
    background-color: rgb(209, 247, 247);
}
.country-converter i{
    width: 40px;
    height: 50px;
    font-size: 33px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}
.country-converter i:hover{
    font-size: 31px;
    color: green;

}
.amount-msg{
    width: 480px;
    height: 60px;
    border: 1px solid blue;
    margin: 15px 5px 0px 60px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}
.main-container button{
    border: 2px dashed red;
    width: 480px;
    height: 60px;
    margin: 25px 5px 0px 60px;
    font-size: 30px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgb(73, 73, 73);
    cursor: pointer;
    box-shadow: 2px 2px 5px black,2px -2px 5px black,-2px -2px 5px black,-2px 2px 5px black;
}
.main-container button:hover{
    font-size: 35px;
    background-color: rgb(220, 246, 246);
}